In [30]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [31]:
#import dataset
df=pd.read_csv('tested.csv')
df.head(), df.info(), df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

(   PassengerId  Survived  Pclass  \
 0          892         0       3
 1          893         1       3
 2          894         0       2
 3          895         0       3
 4          896         1       3

                                            Name     Sex   Age  SibSp  Parch  \
 0                              Kelly, Mr. James    male  34.5      0      0
 1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
 2                     Myles, Mr. Thomas Francis    male  62.0      0      0
 3                              Wirz, Mr. Albert    male  27.0      0      0
 4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

     Ticket     Fare Cabin Embarked
 0   330911   7.8292   NaN        Q
 1   363272   7.0000   NaN        S
 2   240276   9.6875   NaN        Q
 3   315154   8.6625   NaN        S
 4  3101298  12.2875   NaN        S  ,
 None,
         PassengerId    Survived      Pclass              Name   Sex  \
 count    418.000000  418.000000  418.000000               418   418
 unique          NaN         NaN         NaN               418     2
 top             NaN         NaN         NaN  Kelly, Mr. James  male
 freq            NaN         NaN         NaN                 1   266
 mean    1100.500000    0.363636    2.265550               NaN   NaN
 std      120.810458    0.481622    0.841838               NaN   NaN
 min      892.000000    0.000000    1.000000               NaN   NaN
 25%      996.250000    0.000000    1.000000               NaN   NaN
 50%     1100.500000    0.000000    3.000000               NaN   NaN
 75%     1204.750000    1.000000    3.000000               NaN   NaN
 max     1309.000000    1.000000    3.000000               NaN   NaN

                Age       SibSp       Parch    Ticket        Fare  \
 count   332.000000  418.000000  418.000000       418  417.000000
 unique         NaN         NaN         NaN       363         NaN
 top            NaN         NaN         NaN  PC 17608         NaN
 freq           NaN         NaN         NaN         5         NaN
 mean     30.272590    0.447368    0.392344       NaN   35.627188
 std      14.181209    0.896760    0.981429       NaN   55.907576
 min       0.170000    0.000000    0.000000       NaN    0.000000
 25%      21.000000    0.000000    0.000000       NaN    7.895800
 50%      27.000000    0.000000    0.000000       NaN   14.454200
 75%      39.000000    1.000000    0.000000       NaN   31.500000
 max      76.000000    8.000000    9.000000       NaN  512.329200

                   Cabin Embarked
 count                91      418
 unique               76        3
 top     B57 B59 B63 B66        S
 freq                  3      270
 mean                NaN      NaN
 std                 NaN      NaN
 min                 NaN      NaN
 25%                 NaN      NaN
 50%                 NaN      NaN
 75%                 NaN      NaN
 max                 NaN      NaN  )

In [32]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [33]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [34]:
df['Fare'] = df['Fare'].fillna(df['Fare'].median())

In [35]:
df['HasCabin'] = df['Cabin'].notna().astype(int)
df.drop(columns=['Cabin'], inplace=True)

In [36]:
#create new feature
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df['Title'] = df['Name'].str.extract(r',\s*([^\.]+)\.', expand=False).str.strip()

In [37]:
df['AgeBin'] = pd.cut(df['Age'], bins=[0, 12, 18, 60, 80], labels=['Child', 'Teenager', 'Adult', 'Senior'])
df['FareBin'] = pd.qcut(df['Fare'], 4, labels=['Low', 'Medium', 'High', 'Very High'])

In [38]:
df['Age'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()
df['Fare'] = (df['Fare'] - df['Fare'].mean()) / df['Fare'].std()

In [40]:
#Drop irrelevent column
df.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True)

df.head(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    418 non-null    int64
 1   Pclass      418 non-null    int64
 2   Sex         418 non-null    object
 3   Age         418 non-null    float64
 4   SibSp       418 non-null    int64
 5   Parch       418 non-null    int64
 6   Fare        418 non-null    float64
 7   Embarked    418 non-null    object
 8   HasCabin    418 non-null    int32
 9   FamilySize  418 non-null    int64
 10  Title       418 non-null    object
 11  AgeBin      418 non-null    category
 12  FareBin     418 non-null    category
dtypes: category(2), float64(2), int32(1), int64(5), object(3)
memory usage: 35.6+ KB

(   Survived  Pclass     Sex       Age  SibSp  Parch      Fare Embarked  \
 0         0       3    male  0.385769      0      0 -0.496818        Q
 1         1       3  female  1.369729      1      0 -0.511665        S
 2         0       2    male  2.550481      0      0 -0.463545        Q
 3         0       3    male -0.204607      0      0 -0.481898        S
 4         1       3  female -0.598191      1      1 -0.416992        S

    HasCabin  FamilySize Title  AgeBin FareBin
 0         0           1    Mr   Adult     Low
 1         0           2   Mrs   Adult     Low
 2         0           1    Mr  Senior  Medium
 3         0           1    Mr   Adult  Medium
 4         0           3   Mrs   Adult  Medium  ,
 None)

In [24]:
df.to_csv('cleaned_tested.csv', index=False)

In [25]:
import os
print(os.getcwd())

C:\Users\Thols